<a href="https://colab.research.google.com/github/valearistizabal/demo-cda-2021-1s/blob/main/Copia_de_Copia_de_Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import pandas
%matplotlib inline

df = pandas.read_csv('data.csv',
                    sep=',',
                    thousands=None,
                    decimal = ".") 
df

          Region  Poblacion 0-14  Poblacion 15-64  Poblacion 65+
0           Asia          5318.6          10668.7         1013.0
1         Europa          3780.2          13830.6         2890.5
2   Las Americas          5375.5          10901.8         1223.1
3        Oceania          1784.8           3133.1          282.5
4  Oriente Medio          1754.7           3251.1          194.2
5         africa         11136.2          14452.7          911.7

In [ ]:
data=df.set_index('Region')
data=data.transpose()
data

Region              Asia   Europa  ...  Oriente Medio   africa
Poblacion 0-14    5318.6   3780.2  ...         1754.7  11136.2
Poblacion 15-64  10668.7  13830.6  ...         3251.1  14452.7
Poblacion 65+     1013.0   2890.5  ...          194.2    911.7

[3 rows x 6 columns]

In [ ]:
 plt.subplot(2, 3, index+1)

NameError: ignored